<div class="container border rounded m-4 p-4">
    <h2>login</h2>

    <form action="" method="post" class="mt-4">
        <div class="mb-3">
            <label for="" class="form-label">Email</label> <small id="emailHelpId"
                class="form-text text-muted ms-2 ">{{helpEmail}}</small>
            <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId"
                placeholder="abc@mail.com">

        </div>
        <div class="mb-3">
            <label for="" class="form-label">Password</label> <small id="emailHelpId"
                class="form-text text-muted ms-2">{{helpPassword}}</small>

            <input type="password" class="form-control" name="" id="" placeholder="">
        </div>
        <button class="btn btn-primary" data-bs-toggle="button" aria-pressed="false" autocomplete="off">Entrar</button>
    </form>
</div>